footer {
    position: absolute;
    bottom: 0;
}

.fade {
    position: absolute;
    bottom: 100px;
}

.about-wrapper {
    padding: 60px 10vw 30px 10vw;
    margin:auto;
    width: 70%;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
}